@font-face {
  font-family: nunitoBold;
  src: url(../fonts/Nunito_Sans/NunitoSans-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: nunitoRegular;
  src: url(../fonts/Nunito_Sans/NunitoSans-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: senseiMedium;
  src: url(../fonts/sensei/Sensei-Medium.ttf);
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'nunitoRegular', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
  background: #ffaf3a;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Header */
.header {
  background: #ffaf3a;
  padding: 2.2rem 0;
}

.header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header-content .header-item img {
  width: 18rem;
  height: 6.5rem;
}

/* .header .header-content .header-item ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
} */

/* .header .header-content .header-item ul li {
  font-family: 'nunitoBold', sans-serif;
  font-size: 1.8rem;
} */

.header .header-content .header-item.navbar a {
  font-family: 'nunitoBold', sans-serif;
  font-size: 1.8rem;
  color: #ffffff;
  padding: 0.5rem 1.5rem;
}

.header .header-content .header-item .btn-signup {
  font-family: 'nunitoBold', sans-serif;
  font-size: 1.8rem;
  background: #3bb44b;
  color: #ffffff;
  border-radius: 2.5rem;
  padding: 1.2rem 2rem;
  width: 17rem;
  text-align: center;
}

.header #menu-bars {
  display: none;
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

/* Hero-Section */
.hero-section {
  background: #fff;
}

.hero-section > img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.hero-section .hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-item {
  width: 45%;
}

.hero-item h1 {
  font-family: 'senseiMedium', sans-serif;
  font-size: 8.4rem;
  line-height: 8.5rem;
  font-weight: 400;
}

.hero-item h3 {
  font-family: 'nunitoBold', sans-serif;
  font-size: 2.4rem;
  line-height: 3rem;
  padding: 1.5rem 0rem;
}

.hero-item p {
  line-height: 2.2rem;
}

.hero-item .hero-item-flex {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding-top: 2.5rem;
}

.hero-item .hero-item-flex .btn-signup {
  font-family: 'nunitoBold', sans-serif;
  font-size: 1.8rem;
  background: #3bb44b;
  color: #ffffff;
  border-radius: 2.5rem;
  padding: 1.2rem 2rem;
  width: 17rem;
  text-align: center;
}

.hero-item .hero-item-flex .btn-learnMore {
  font-family: 'nunitoBold', sans-serif;
  font-size: 1.8rem;
  background: #ffffff;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 2.5rem;
  padding: 1.2rem 2rem;
  width: 17rem;
  text-align: center;
}

.hero-item-img {
  flex: 1;
}

.hero-item-img > img {
  width: 100%;
}

/* Brilliant-Section */
.brilliant-section {
  background: #ffaf3a;
}

.bird-container {
  position: relative;
}

.bird-container > img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.bird-container::after {
  content: url('../images/bird.png');
  position: absolute;
  bottom: 2.2rem;
  left: 0;
  width: 14rem;
  height: 14rem;
}

.brilliant-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brilliant-item {
  width: 45%;
}

.brilliant-item-img {
  flex: 1;
}

.brilliant-item-img > img {
  width: 100%;
}
.brilliant-item {
  padding: 0 1.5rem;
}

.brilliant-item h3 {
  font-family: 'senseiMedium', sans-serif;
  font-size: 4.2rem;
  line-height: 5.6rem;
  text-align: center;
  padding-bottom: 1.5rem;
  color: #ffffff;
}

.brilliant-item h4 {
  font-size: 2.4rem;
  font-family: 'nunitoRegular', sans-serif;
  line-height: 3.5rem;
  text-align: center;
  color: #fff;
}

.brilliant-btn {
  margin-top: 2.5rem;
}

.brilliant-btn .btn-signup {
  display: block;
  font-family: 'nunitoBold', sans-serif;
  font-size: 1.8rem;
  background: #3bb44b;
  color: #ffffff;
  border-radius: 2.5rem;
  padding: 1.2rem 2rem;
  width: 17rem;
  margin: 0 auto;
  text-align: center;
}

/* Teacher-Section */

.teacher-section > img {
  width: 100%;
}

.teacher-main-content {
  margin-top: -12rem;
  background: #307db9;
}

.teacher-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.teacher-main-content h3 {
  font-family: 'senseiMedium', sans-serif;
  font-size: 4.2rem;
  line-height: 5.6rem;
  text-align: center;
  padding-bottom: 3rem;
  color: #ffffff;
}

.teacher-item {
  width: 50%;
}

.teacher-item-img {
  flex: 1;
}

.teacher-item-img > img {
  width: 100%;
}

.teacher-item h2 {
  font-family: 'senseiMedium', sans-serif;
  font-size: 6.8rem;
  line-height: 7.5rem;
  padding-bottom: 1.5rem;
  color: #ffffff;
}

.teacher-item ul {
  padding-top: 2.5rem;
}

.teacher-item ul li {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  font-size: 2.4rem;
  font-family: 'nunitoRegular', sans-serif;
  font-weight: bold;
  line-height: 3.4rem;
  color: #fff;
  padding-bottom: 2.5rem;
}

/* School-Section */

.school-section h3 {
  font-family: 'senseiMedium', sans-serif;
  font-size: 4.2rem;
  line-height: 5.6rem;
  text-align: center;
  color: #ffffff;
  padding-top: 3rem;
}

.school-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.school-slider {
  width: 45%;
}

.school-item {
  width: 50%;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.school-item .school-child > h1 {
  font-family: 'senseiMedium', sans-serif;
  font-size: 8.4rem;
  line-height: 1;
  font-weight: 400;
  line-height: 6.4rem;
  color: #fff;
}

.coding-todo {
  font-family: 'senseiMedium', sans-serif;
  font-size: 3.5rem;
  margin: 0px;
  text-transform: uppercase;
  text-align: center;
  background-color: #f26837;
  width: 13rem;
  padding: 0.5rem 0.5rem;
  margin-top: 10px;
  color: #fff;
}

.school-child:nth-child(2) {
  width: 40%;
  align-self: center;
}

.school-child h4 {
  font-family: 'senseiMedium', sans-serif;
  font-size: 3.2rem;
  line-height: 4.2rem;
  font-weight: 400;
  color: #fff;
}

.school-child p {
  font-size: 1.6rem;
  font-family: 'nunitoRegular', sans-serif;
  font-weight: bold;
  line-height: 2.2rem;
  color: #fff;
  padding-bottom: 0.8rem;
}

.school-child .btn-signup {
  display: block;
  font-family: 'nunitoBold', sans-serif;
  font-size: 1.8rem;
  background: #3bb44b;
  color: #ffffff;
  border-radius: 2.5rem;
  padding: 1.2rem 2rem;
  width: 17rem;
  margin-top: 0.8rem;
  text-align: center;
}

/* Slider */
.slider-container {
  position: relative;
  margin: 0 auto;
  width: 500px;
  height: 450px;
}

.slider-container .slider-content {
  position: relative;
  left: 50%;
  top: 50%;
  width: 70%;
  height: 60%;
  transform: translate(-50%, -50%);
}
.slider-container .slider-content .slider-single {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: z-index 0ms 250ms;
}
.slider-container .slider-content .slider-single .slider-single-image {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
  transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  transform: scale(0);
  opacity: 0;
}
.slider-container .slider-content .slider-single .slider-single-download {
  position: absolute;
  display: block;
  right: -22px;
  bottom: 12px;
  padding: 15px;
  color: #333333;
  background-color: #fdc84b;
  font-size: 18px;
  font-weight: 600;
  font-family: 'karla';
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  opacity: 0;
}
.slider-container .slider-content .slider-single .slider-single-download:hover,
.slider-container .slider-content .slider-single .slider-single-download:focus {
  outline: none;
  text-decoration: none;
}

.slider-container
  .slider-content
  .slider-single.preactivede
  .slider-single-image {
  transform: translateX(-50%) scale(0);
}
.slider-container .slider-content .slider-single.preactive {
  z-index: 1;
}
.slider-container
  .slider-content
  .slider-single.preactive
  .slider-single-image {
  opacity: 0.3;
  transform: translateX(-25%) scale(0.8);
}
.slider-container
  .slider-content
  .slider-single.preactive
  .slider-single-download {
  transform: translateX(-150px);
}
.slider-container
  .slider-content
  .slider-single.preactive
  .slider-single-title {
  transform: translateX(-150px);
}
.slider-container
  .slider-content
  .slider-single.preactive
  .slider-single-likes {
  transform: translateX(-150px);
}
.slider-container .slider-content .slider-single.proactive {
  z-index: 1;
}
.slider-container
  .slider-content
  .slider-single.proactive
  .slider-single-image {
  opacity: 0.3;
  transform: translateX(25%) scale(0.8);
}
.slider-container
  .slider-content
  .slider-single.proactive
  .slider-single-download {
  transform: translateX(150px);
}
.slider-container
  .slider-content
  .slider-single.proactive
  .slider-single-title {
  transform: translateX(150px);
}
.slider-container
  .slider-content
  .slider-single.proactive
  .slider-single-likes {
  transform: translateX(150px);
}
.slider-container
  .slider-content
  .slider-single.proactivede
  .slider-single-image {
  transform: translateX(50%) scale(0);
}
.slider-container .slider-content .slider-single.active {
  z-index: 2;
}
.slider-container .slider-content .slider-single.active .slider-single-image {
  opacity: 1;
  transform: translateX(0%) scale(1);
}
.slider-container
  .slider-content
  .slider-single.active
  .slider-single-download {
  opacity: 1;
  transition-delay: 100ms;
  transform: translateX(0px);
}
.slider-container .slider-content .slider-single.active .slider-single-title {
  opacity: 1;
  transition-delay: 200ms;
  transform: translateX(0px);
}
.slider-container .slider-content .slider-single.active .slider-single-likes {
  opacity: 1;
  transition-delay: 300ms;
  transform: translateX(0px);
}
.slider-container .slider-content .slider-single.active .slider-single-likes i {
  animation-name: heartbeat;
  animation-duration: 500ms;
  animation-delay: 900ms;
  animation-fill-mode: forwards;
}
.slider-container .slider-left {
  position: absolute;
  z-index: 3;
  display: block;
  right: 85%;
  top: 50%;
  color: #ffffff;
  transform: translateY(-50%);
  padding: 20px 15px;
  background: url('../images/carousel_arrow_left.png');
  cursor: pointer;
  margin-right: 2px;
}
.slider-container .slider-right {
  position: absolute;
  z-index: 3;
  display: block;
  background: url('../images/carousel_arrow_right.png');
  left: 85%;
  top: 50%;
  color: #ffffff;
  transform: translateY(-50%);
  padding: 20px 15px;
  cursor: pointer;
  margin-left: 2px;
}
.slider-container .not-visible {
  display: none !important;
}

/* Animation-Section */
.animation-section {
  position: relative;
}

.animation-section > img {
  width: 100%;
}

.animation-main-content {
  background: #307db9;
  margin-top: -10rem;
}

.animation-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.animation-item-image {
  width: 50%;
  text-align: center;
}

.animation-item {
  width: 45%;
}

.animation-item-image > img {
  width: 80%;
}

.animation-item h3 {
  font-family: 'senseiMedium', sans-serif;
  font-size: 4.2rem;
  line-height: 5.6rem;
  color: #ffffff;
  padding-top: 3rem;
}

.animation-item h5 {
  font-family: 'nunitoRegular', sans-serif;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 3.5rem;
  color: #fff;
  padding-top: 2.5rem;
}

.animation-item ul {
  padding-top: 2.5rem;
}

.animation-item ul li {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  font-size: 2.4rem;
  font-family: 'nunitoRegular', sans-serif;
  font-weight: bold;
  line-height: 3.4rem;
  color: #fff;
  padding-bottom: 2.5rem;
}

.animation-item ul li img {
  vertical-align: middle;
}

.animation-center {
  text-align: center;
  padding-top: 2.5rem;
}

.animation-center h3 {
  font-family: 'senseiMedium', sans-serif;
  font-size: 4.2rem;
  line-height: 5.6rem;
  color: #ffffff;
  padding-top: 3rem;
}

.animation-center .animation-center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.animation-center .btn-signup {
  display: block;
  font-family: 'nunitoBold', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  background: #3bb44b;
  color: #ffffff;
  border-radius: 2.5rem;
  padding: 1.7rem 2rem;
  width: 30rem;
  margin-top: 0.8rem;
  text-align: center;
}

/* Work-Section */
.work-section {
  background: #3bb44b;
}

.work-section > img {
  width: 100%;
}

.work-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work-content > h3 {
  font-family: 'senseiMedium', sans-serif;
  font-size: 4.8rem;
  line-height: 6.4rem;
  color: #ffffff;
  padding-top: 3rem;
}

.work-content h5 {
  font-size: 2.4rem;
  font-family: 'nunitoRegular', sans-serif;
  font-weight: bold;
  line-height: 3.4rem;
  color: #fff;
  padding: 1.5rem 0rem;
  text-align: center;
}

.work-content .workshop-image {
  max-width: 100%;
  padding-top: 4.5rem;
}

.work-content .scratch-image {
  max-width: 100%;
  padding: 4.5rem 0rem;
}

.bg-h5 {
  display: inline-block;
  font-size: 2.4rem;
  font-family: 'nunitoRegular', sans-serif;
  font-weight: bold;
  line-height: 3.4rem;
  color: #3bb44b;
  background: #fff;
  padding: 0 0.8rem;
  text-align: center;
}

.no-bgh5 {
  font-size: 2.4rem;
  font-family: 'nunitoRegular', sans-serif;
  font-weight: bold;
  line-height: 3.4rem;
  color: #fff;
  padding: 0.8rem;
  text-align: center;
}

.time-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
}

.time-content li {
  font-size: 2.4rem;
  font-family: 'nunitoRegular', sans-serif;
  font-weight: bold;
  line-height: 3.4rem;
  color: #fff;
  padding: 0.8rem;
}

/* Join-Section */

.flip-yellow {
  transform: scaleY(-1);
  vertical-align: bottom;
}

.join-section h3 {
  font-family: 'senseiMedium', sans-serif;
  font-size: 4.8rem;
  line-height: 6.4rem;
  color: #ffffff;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  text-align: center;
}

.join-section h5 {
  font-size: 2.4rem;
  font-family: 'nunitoRegular', sans-serif;
  font-weight: bold;
  line-height: 3.4rem;
  color: #fff;
  text-align: center;
}

.join-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3.5rem;
}

.join-item-img {
  width: 45%;
}

.join-item {
  width: 45%;
}

.join-item-img img {
  display: block;
  width: 100%;
}

.join-item ul li {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  font-size: 2.4rem;
  font-family: 'nunitoRegular', sans-serif;
  font-weight: bold;
  line-height: 3.4rem;
  color: #fff;
  padding-bottom: 2.5rem;
}

.join-item ul li > img {
  vertical-align: middle;
}

.not-selected {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  padding-top: 3.5rem;
  padding-bottom: 2.5rem;
}

.not-selected .not-selected-join {
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-selected h5 {
  padding: 2.5rem;
  text-align: center;
}

/*---------------------------- Media Queries -------------------*/

@media (max-width: 1240px) {
  .teacher-main-content {
    margin-top: -6rem;
  }

  .animation-main-content {
    background: #307db9;
    margin-top: -5rem;
  }
}

@media (max-width: 1102px) {
  .school-child:nth-child(1) {
    align-self: center;
  }
}

@media (max-width: 1100px) {
  .slider-container {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 992px) {
  .header #menu-bars {
    display: inline-block;
  }

  .header .header-content .header-item.mob-hide {
    display: none;
  }

  .header .navbar {
    position: absolute;
    top: 115px;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .header .navbar {
    background: #ffaf3a;
  }

  .header .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 2rem;
    background: #ffaf3a;
  }

  .hero-section .hero-content {
    flex-direction: column;
    justify-content: center;
    padding: 3.5rem 0rem;
  }

  .hero-item {
    width: 75%;
    order: 2;
  }

  .bird-container::after {
    display: none;
  }

  .brilliant-content {
    flex-direction: column;
    justify-content: center;
    padding: 3.5rem 0rem;
  }

  .brilliant-item {
    width: 75%;
  }

  .teacher-content {
    flex-direction: column;
    justify-content: center;
    padding: 3.5rem 0rem;
  }

  .teacher-item {
    width: 75%;
  }

  .teacher-main-content {
    margin-top: -3rem;
  }

  .school-item {
    width: 75%;
    order: 2;
  }

  .school-slider {
    width: 75%;
  }

  .slider-container {
    width: 550px;
    height: 400px;
  }

  .school-flex {
    flex-direction: column;
    justify-content: center;
    padding: 3.5rem 0rem;
  }

  .animation-content {
    flex-direction: column;
    justify-content: center;
    padding: 3.5rem 0rem;
  }

  .animation-item {
    width: 75%;
  }

  .animation-item-image {
    width: 75%;
    margin-top: 2.5rem;
  }

  .work-content {
    padding: 3.5rem 0rem;
  }

  .join-content {
    flex-direction: column;
    justify-content: center;
    padding: 3.5rem 0rem;
  }

  .join-item-img {
    width: 75%;
  }

  .join-item {
    width: 75%;
  }

  .not-selected {
    width: 75%;
  }

  .school-child:nth-child(2) {
    padding-right: 0rem;
  }

  .animation-main-content {
    margin-top: -3rem;
    padding-bottom: 3.5rem;
  }
}

@media (max-width: 720px) {
  .school-slider {
    width: 100%;
  }

  .slider-container {
    width: 75%;
  }
}

@media (max-width: 600px) {
  .hero-item {
    width: 100%;
  }

  .brilliant-item {
    width: 100%;
  }
  .teacher-item {
    width: 100%;
  }

  .school-item {
    width: 100%;
  }

  .animation-item {
    width: 100%;
  }

  .animation-item-image {
    width: 100%;
    margin-top: 2.5rem;
  }

  .join-item {
    width: 100%;
  }

  .join-item-img {
    width: 100%;
  }

  .not-selected {
    width: 100%;
  }

  .animation-center-content img {
    width: 7rem;
    height: 7rem;
  }

  .animation-center .btn-signup {
    padding: 1.2rem;
    width: 17rem;
  }

  .slider-container {
    width: 100%;
  }

  .brilliant-item {
    padding: 0 0rem;
  }

  .animation-item-image > img {
    width: 100%;
  }

  .school-child:nth-child(1) {
    align-self: center;
  }

  .school-child:nth-child(2) {
    width: 60%;
    align-self: center;
  }
}

@media (max-width: 500px) {
  .hero-item h1 {
    text-align: center;
  }

  .brilliant-item {
    margin-top: 2.5rem;
  }

  .teacher-main-content h3 {
    padding-bottom: 0rem;
    padding-top: 3.5rem;
  }

  .teacher-item h2 {
    text-align: center;
  }

  .school-section h3 {
    padding-top: 3.5rem;
  }

  .animation-item h3 {
    padding-top: 3.5rem;
    text-align: center;
  }

  .work-content > h3 {
    text-align: center;
  }

  .time-content {
    flex-wrap: wrap;
    gap: 0rem;
    justify-content: flex-start;
  }

  .hero-item .hero-item-flex .btn-signup {
    width: 15rem;
  }

  .hero-item .hero-item-flex .btn-learnMore {
    width: 15rem;
  }
}
